<mat-list class="gdg__side-menu">
    <div class="gdg__side-login" *ngIf="user$ | async as user; else userLogo">
        <img class="logo user__icon" [attr.src]="user.photoURL" alt="" width="75" height="75">
    </div>

    <ng-template #userLogo>
        <div class="gdg__side-login">
            <img class="logo" [attr.src]="'./assets/logo.png'" alt="" width="75" height="75">
        </div>
    </ng-template>

    <ng-container *ngIf="user$ | async as user;">
        <h3 mat-subheader>{{'main.user'| translate}}</h3>
        <a [routerLink]="['/profile',user.uid]" class="gdg__item" [routerLinkActive]="['gdg__item--active']"
            [routerLinkActiveOptions]="{exact: true}">
            <mat-list-item appClosemenu>
                <mat-icon mat-list-icon>perm_identity</mat-icon>
                <span mat-line>{{ user.displayName }}</span>
            </mat-list-item>
        </a>
    </ng-container>

    <mat-divider class="gdg__side-divider"></mat-divider>

    <a [routerLink]="['/']" class="gdg__item" [routerLinkActive]="['gdg__item--active']" [routerLinkActiveOptions]="{exact: true}">
        <mat-list-item appClosemenu>
            <mat-icon mat-list-icon>layers</mat-icon>
            <span mat-line>{{'main.index' | translate}}</span>
        </mat-list-item>
    </a>

    <ng-container *ngIf="userAdmin">

        <mat-divider class="gdg__side-divider"></mat-divider>

        <h3 mat-subheader>{{'global.character'| translate}}</h3>

        <a [routerLink]="['/heroes']" class="gdg__item" [routerLinkActive]="['gdg__item--active']">
            <mat-list-item appClosemenu>
                <mat-icon mat-list-icon>person</mat-icon>
                <span mat-line>{{'global.menu.heroe.title' | translate}}</span>
            </mat-list-item>
        </a>

        <a [routerLink]="['/villains']" class="gdg__item" [routerLinkActive]="['gdg__item--active']">
            <mat-list-item appClosemenu>
                <mat-icon mat-list-icon>person</mat-icon>
                <span mat-line>{{'global.menu.villain.title' | translate}}</span>
            </mat-list-item>
        </a>

    </ng-container>

    <mat-divider class="gdg__side-divider"></mat-divider>

    <mat-divider class="gdg__side-divider"></mat-divider>

    <mat-list-item appClosemenu class="gdg__item" (click)="signOut()" *ngIf="user$ | async; else showLogin">
        <mat-icon mat-list-icon>power_settings_new</mat-icon>

        <span mat-line>{{'main.signOut' | translate}}</span>
    </mat-list-item>

    <ng-template #showLogin>

        <mat-list-item appClosemenu class="gdg__item" (click)="signIn()">
            <mat-icon mat-list-icon>power_settings_new</mat-icon>

            <span mat-line>{{'main.signIn' | translate}}</span>
        </mat-list-item>
    </ng-template>

</mat-list>