@import '../../../css/variables';

.gdg__side-menu {
	display: flex;
	flex-direction: column;

	min-width: 200px;
	height: 100vh;
	margin: 0;
	padding: 0;

	background-color: $gdg-secondary;

	.item__bottom {
		display: flex;
		flex: 1;

		// align-items: flex-end;
		.gdg__item:hover {
			cursor: pointer;
		}
	}
	a {
		text-decoration: none;
		&:focus {
			outline-color: white;
		}
	}
	h3.mat-subheader,
	.gdg__item {
		color: white;
		background-color: $gdg-secondary;
	}
	.user__icon {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.gdg__item--active {
		text-transform: uppercase;

		background-color: $gdg-primary;
	}
	.gdg__side-divider {
		background-color: white;
	}
}

.gdg__side-login {
	display: block;

	margin: 0 auto;
}

